<div class="comment">
  {{#each this}}
    <section class="comment">
      <div class="meta">
        {{user.username}}
        ({{format_date created_at}}):
        <span class="text"> {{comment_text}}</span>
      </div>
    </section>
  {{/each}}
</div>