{{#if posts.length}}
<section>
  <h2>My Trades</h2>
      {{#if loggedIn}}
           <form name="Console" id="console-home" action="/action_page.php">
     Consoles: <select name="Consoles" id="Consoles">
                    <option value="" selected="selected">Xbox</option>
                    <option value="" selected="selected">Playstaytion</option>
                    <option value="" selected="selected">Nintendo Switch</option>
                    <option value="" selected="selected">Retro</option>
                </select>
        {{/if}}
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<div>
  <a href="dashboard/create-trade" class="createTrade-Btn">
    Add New Trade
  </a>
</div>

{{#if offers.length}}
<section>
  <h2>My Offers</h2>
  <ol>
    {{#each offers as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
