{{> post-info post}}

{{#if loggedIn}}
{{#if offerMade}}
<div>
<h2>Offers</h2>
{{#each offers}}
</div>
{{description}}
{{> comments comments}}
  <form class="comment-form" data-offer-id={{id}}>
    <div>
      <input type="text" id="comment-body"/>
    </div>

    <div>
      <button type="submit" >Add Comment</button>
    </div>
  </form>
{{/each}}


{{/if}}
{{/if}}

<button type="button" class="delete-post-btn"> Delete post</button>

<script src="/javascript/delete-post.js"></script>

{{#if loggedIn}}
{{#if offerMade}}
<script src="/javascript/comment.js"></script>
{{/if}}
{{/if}}
