<section>
  {{#if selected}}
    <ol>
    {{#each offer as |offer|}}
    <li>
      {{> offer post}}
    </li>
    {{/each}}
  </ol>
  {{> comments post.comments}}
  {{/if}}
</section>







<script src="/javascript/delete-trade.js"></script>