<section>
    <ol>
    {{#each offer as |offer|}}
    <li>
      {{> offer post}}
    </li>
    {{/each}}
  </ol>
</section>
<div>
<button type="button" class="delete-post-btn">Delete post</button>
</div>




<script src="/javascript/delete-trade.js"></script>