    <button type="button" class="delete-post-btn">Delete Trade</button>
{{> post-info post}}

{{#if loggedIn}}
{{#if anyOffer}}
<div>
<h2>Offers</h2>
{{#each offers}}
</div>
{{description}}
{{> comments comments}}
  <form class="comment-form" data-offer-id={{id}}>
    <div>
      <input type="text" id="comment-body"/>
    </div>

    <div>
      <button type="submit" >add comment</button>
    </div>
  </form>
{{/each}}

{{/if}}
{{/if}}







{{#if loggedIn}}
{{#if offerMade}}
<script src="/javascript/comment.js"></script>
{{/if}}
{{/if}}

<script src="/javascript/delete-post.js"></script>




{{!-- <script src="/javascript/delete-trade.js"></script> --}}